<?php

global $conf;

// Set to 0 (none), 1 (debug) or 2 (verbose).
$config['debug'] = 0;

// Unmuting failed and the element was paused instead because the user didn't interact with the document before. https://goo.gl/xX8pDD
$conf['start_muted'] = true;

// Load next video via ajax.
$conf['use_ajax'] = true;

// Path to directory containing video files.
$conf['video_dir'] = '/var/www/html/vplaylist';

// Path to JSON queue for importing videos.
$conf['json_queue'] = $conf['video_dir'] . "/video-editor/links.json";

// External media processor.
$conf['external_media'] = false;
$conf['media_hostname'] = 'user@example.com';
$conf['store_hostname'] = 'user@example.com';
$conf['store_target'] = '/var/www/vplaylist';

$conf['chromecast_enable'] = true;
$conf['chromecast_only'] = false;
