body {
	background: #555555;
}

body.behind-video {
	overflow-x: hidden;
	overflow-y: hidden;
}

.thumbnail {
	position: relative;
	float: left;
	width: 320px;
	height: 180px;
	overflow: hidden;
	margin: 10px;
	border: 2px solid white;
	background: black;
}

.thumbnail .label {
	position: absolute;
	margin: 10px;
	color: white;
	text-shadow: 2px 1px 1px black;
	text-decoration: none;
}

.thumbnail .label-top {
	top: 0px;
	left: 0px;
}

.thumbnail .label-bottom {
	bottom: 0px;
	right: 0px;
}

.player {
	float: left;
	width: 100%;
	background: black;
}

.player video {
	display: inherit;
	margin: 0 auto;
	padding: 10px;
	margin-top: -10px;
	background: black;
}

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
}

.player .label {
	color: white;
	float: left;
	text-align: center;
	width: 100%;
	padding: 10px 0 20px 0;
}

.listing-box {
	position: relative;
	width: 100%;
}

.listing {
	position: relative;
	margin: 0 auto;
	width: 80%;
}

.header, .footer {
	float: left;
	width: 100%;
	background: #555555;
	text-align: left;
}

.header h1 {
	margin: 0px 0px 10px 10px;
}

.header h1 a {
	color: white;
	text-shadow: 3px 0px 2px black;
}

form.search {
	position: absolute;
	top: 0;
	right: 0;
	margin: 10px 10px 0px 0px;
	width:30%;
	text-align: right;
}

form.search input[type=text] {
	font-size: 1.25em;
	font-family: "Times New Roman", Serif;
	height: 36px;
	border: 0 none;
	padding: 0px 0px 0px 10px;
}

h2 {
	float: left;
	color: white;
	text-shadow: -2px 0px 2px black;
	padding-left: 20px;
}

h4 {
	float: right;
	color: white;
	text-shadow: 2px 0px 2px black;
	padding-right: 20px;
}

.subnav {
	float: left;
	width: 100%;
}

.subnav a {
	color: white;
}

h6 a {
	color: white;
	text-shadow: 2px 0px 2px black;
	padding: 10px;
}

form.install {
	float: left;
	width: 100%;
	text-align: center;
	background: lightyellow;
	padding: 36px 0px 36px;
}

pre {
	overflow-x: scroll;
	background: white;
	padding: 20px;
	margin: 20px;
	border: 1px solid black;
	text-align: left;
}

form.video-editor, form.video-editor label, form.video-editor input {
  display: block;
  float: left;
  width: 100%;
  margin-top: 20px;
}

form.video-editor, form.video-editor label {
  background: black;
  color: white;
}

form.video-editor input[type=submit] {
  cursor: pointer;
  font-size: 18px;
  background: mediumpurple;
  color: white;
  font-size: 18px;
  text-shadow: -2px 0 2px #000;
}

form.video-editor input {
  padding: 20px;
  border: 2px solid black;
}

form.video-editor {
  padding: 20px;
}
