body {
	background: url(stars.jpg) repeat;
	background-position: center;
	margin: 0;
	font-family: monospace;
}

input, select {
	font-family: monospace;
}

body.behind-video {
	overflow-x: hidden;
	overflow-y: auto;
}

body.behind-video video .label {
	position: absolute;
	top: 0;
}
body.nocontrols {
	overflow: hidden;
}

.thumbnail {
	position: relative;
	float: left;
	width: 320px;
	height: 180px;
	overflow: hidden;
	margin: 16px;
	border-radius: 10px;
	border: 4px outset gray;
	background: url(videotape.png) no-repeat;
	background-size: contain;
}

.thumbnail:hover {
	border: 4px outset white;
}

.thumbnail:active {
	border: 4px solid white;
	background: white;
	box-shadow: 0 0 20px white;
}

.thumbnail:active img {
	opacity: 0.6;

}

.thumbnail img {
	background: black;
}

.thumbnail .label {
	position: absolute;
	margin: 10px;
	padding: 5px;
	color: white;
	text-shadow: 2px 2px 0px black;
	text-decoration: none;
	border-radius: 2px;
	font-size: 14pt;
}

.thumbnail .label-top {
	top: 0px;
	right: 0px;
	background: #00000088;
	font-size: 14px;
	font-weight: bold;
}

.thumbnail:hover .label-top {
	background: #555555;
	background: mediumpurple;
}

.thumbnail .label-bottom {
	bottom: 0px;
	left: 0px;
	background: #00000088;
	pointer-events: none;
	font-size: 14px;
	font-weight: bold;
}

.thumbnail:hover .label-bottom {
	background: #555555;
	background: mediumpurple;
}

.player {
	float: left;
	width: 100%;
	min-height: 360px;
}

.player video {
	display: inherit;
	margin: 0 auto;
	padding: 10px;
	margin-top: -10px;
	background: black;
	border-radius: 8px;
	box-shadow: 0 0 10px white;
}

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
}

.player .label {
	color: white;
	float: left;
	text-align: center;
	width: 100%;
	padding: 20px 0 20px 0;
	background: -webkit-linear-gradient(top, rgba(0, 0, -1, 0), rgba(0, 0, 0, 1));
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
	text-shadow: -2px 0px black;
	font-size: 14px;
}

.listing-box {
	position: relative;
	width: 100%;
}

.listing {
	position: relative;
	margin: 0 auto;
	width: 85%;
}

.header, .footer {
	float: left;
	width: 100%;
	background: #555555;
	text-align: left;
	box-sizing: border-box;
}

.header {
	height: 48px;
	background: mediumpurple;
}

body.behind-video .header {
	background: #555555;
}

.header h1 {
	margin: 0;
}

.header h1 a {
	color: white;
	text-shadow: 3px 0px 2px black;
	font-size: 20px;
	padding: 12px;
        line-height: 48px;
}

.header h1 a:hover {
	background: mediumpurple;
}

.footer {
 	height: 50%;
	overflow: hidden;
	margin-top: 20px;
	padding-left: 20px;
}

form.search {
	position: absolute;
	top: 0;
	right: 0;
	margin: 6px 6px 0px 0px;
	width:30%;
	text-align: right;
}

form.search input[type=text] {
	font-size: 14px;
	height: 36px;
	border: 0 none;
	padding: 0px 0px 0px 10px;
}

h2 {
	float: left;
	color: white;
	text-shadow: -2px 0px 2px black;
	padding-left: 12px;
	font-size: 14px;
	line-height: 32px;
	height: 32px;
	margin: 0;
}

h4 {
	float: left;
	color: white;
	text-shadow: 2px 0px 2px black;
	line-height: 32px;
	height: 32px;
	margin: 0;
}

h4 a {
	color: white;
	padding: 8px;
}

h4 a:hover {
	background: mediumpurple;
}

.subnav {
	float: left;
	width: 100%;
	background: #555555;
	margin-bottom: 32px;
}

.subnav a {
	color: white;
}

.subnav label, .subnav input {
	cursor: pointer;
}

.subnav input {
	margin-top: 9px;
	float: left;
}

.subnav-right-side {
	float: right;
}

.behind-video .subnav-right-side h4 label {
	display: block;
	float: right;
	height: 100%;
	padding: 0px 10px 0px 5px;
}

.subnav-right-side h4:hover, .subnav a:hover {
	background: mediumpurple;
}

h6, h6 a {
	color: white;
	text-shadow: 2px 0px 2px black;
	padding: 10px;
	font-size: 14px;
}

h6 a:hover {
	background: mediumpurple;
}

form.install {
	float: left;
	width: 100%;
	text-align: center;
	background: lightyellow;
	padding: 36px 0px 36px;
}

pre {
	overflow-x: scroll;
	background: white;
	padding: 20px;
	margin: 20px;
	border: 1px solid black;
	text-align: left;
}

form.video-editor,
form.video-editor label,
form.video-editor input,
form.video-editor select {
  display: block;
  float: left;
  width: 100%;
  margin-top: 20px;
}

form.video-editor, form.video-editor label {
  background: black;
  color: white;
}

form.video-editor input[type=submit] {
  cursor: pointer;
  background: mediumpurple;
  color: white;
  font-size: 14px;
  text-shadow: -2px 0 2px #000;
}

form.video-editor input, form.video-editor select {
  padding: 20px;
  border: 2px solid black;
  box-sizing: border-box;
}

form.video-editor h2 {
  padding: 0px;
}

form#imports {
  border-radius: 4px;
  border: 1px solid white;
  margin-bottom: 20px;
}

form#imports .item {
  width: 100%;
  padding: 10px;
  background-size: contain;
  background-position: top right;
  background-repeat: no-repeat;
  box-sizing: border-box;
  color: black;
  background-color: #eeeeee;
}

form#imports div.item:nth-child(even) {
  background-color: #cccccc;
}

form#imports .info {
  box-sizing: border-box;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  padding-left: 86px;
  padding-right: 86px;
}

form#imports .title, form#imports .collection {
  font-weight: bold;
  text-shadow: -2px 0px 2px white;
}

form#imports .icon {
  display: block;
  float: left;
  margin-right: 10px;
  width: 77px;
  height: 45px;
  overflow: hidden;
  background: url(videotape.png);
  background-size: contain;
  background-repeat: no-repeat;
}

form#imports .icon-border:hover {
  box-shadow: 1px 1px 4px black, -1px -1px 4px black, -1px 1px 4px black, 1px -1px 4px black;
}

form#imports .icon .thumb {
  opacity: 0;
  width: 80px;
  border-radius: 4px;
}
form#imports .icon .thumb:hover {
  opacity: 1;
}

.progress-container {
  display: block;
  margin:0 auto;
  background:#CDCDCD;
  height:5px;
  border-radius:4px;
  border: 1px solid gray;
  width: 99%;
  margin: 4px 0px 4px 0px;
  overflow: hidden;
}

.progress-bar {
  height: 5px;
  width:100%;
  max-width:100%;
  border-radius:4px;
}

.progress-bar span {
  height: 5px;
  border-radius:4px;
  display: block;
}

form#imports .status-bar {
  text-transform: capitalize;
  background: white;
  color: white;
  padding: 4px;
  margin: 10px 0px 10px 0px;
  display: block;
  border-radius: 4px;
  border: 1px solid gray;
  font-family: monospace;
  width: 75%;
}

form#imports .status-text {
  font-style: italic;
}

form#imports .target {
  float: right;
}

form#imports .incomplete {

}

form#imports .target-text {
  float: right;
  display: block;
}

form#imports .target-text a {
  font-weight: bold;
  text-shadow: 1px 0px 1px black;
  color: white;
  background: mediumpurple;
  border: 1px solid gray;
  text-decoration: none;
  padding: 4px;
  border-radius: 4px;
}

form#imports .target-text a:hover {
  text-decoration: underline;
}

form#imports .queued {
  background-image: url(http://alt.dysproseum.com/vplaylist/b54889ba0757a0c36b9dde05ae6a98c9feb8ed67.gifv);
}

form#imports .downloading {
  background-image: url(https://www.randomnoun.com/wpf/shell32-avi/tshell32_170.gif);*/
}

form#imports .processing {
  background-image: url(https://cur.cursors-4u.net/food/images1/foo35.gif);
}

form#imports .refreshing {
  background-image: url(https://cur.cursors-4u.net/games/images/gam71.gif);
}

form#imports .error .progress-bar span {
  background-color: indianred;
  width: 100% !important;
}

form#imports .queued .progress-bar span {
  background-color: goldenrod;
  width: 100% !important;
}

form#imports .downloading .progress-bar span {
  background-color: dodgerblue;
  width: 5%;
}

form#imports .processing .progress-bar span {
  background-color: dodgerblue;
  width: 33%;
}

form#imports .refreshing .progress-bar span {
  background-color: dodgerblue;
  width: 75%;
}

form#imports .completed .progress-bar span {
  background-color: mediumaquamarine;
  width: 100% !important;
}
